# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Mohammad Sadegh Khoeini
	email = mohammadk@spotify.com
	signingkey = /Users/mohammadk/.ssh/id_rsa.pub
[hub]
	host = ghe.spotify.net
[merge]
	tool = ediff
	conflictstyle = diff3
[mergetool "ediff"]
	cmd = ec -e \"(ediff-merge-files-with-ancestor \\\"$LOCAL\\\" \\\"$REMOTE\\\" \\\"$BASE\\\" nil \\\"$MERGED\\\")\"
[fetch]
	prune = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[diff]
	tool = nvim
	colorMoved = default
[difftool]
	prompt = false
	trustExitCode = true
[alias]
	d = difftool
[difftool "nvim"]
	cmd = nvim -d \"$LOCAL\" \"$REMOTE\"
[mergetool]
	trustExitCode = true
[core]
	pager = delta
[interactive]
	diffFilter = delta --color-only
[pull]
	ff = only
[commit]
	gpgsign = true
[init]
	defaultBranch = main
[gpg]
	format = ssh
[delta]
	navigate = true
	features = decorations
	line-numbers = true
	side-by-side = true
[delta "interactive"]
	keep-plus-minus-markers = false
[delta "decorations"]
	# commit-decoration-style = blue ol
	# commit-style = raw
	# file-style = omit
	# hunk-header-decoration-style = blue box
	# hunk-header-file-style = red
	# hunk-header-line-number-style = "#067a00"
	# hunk-header-style = file line-number syntax
[safe]
	directory = *
