source ~/.intellimacs/spacemacs.vim
source ~/.intellimacs/extra.vim
source ~/.intellimacs/major.vim
source ~/.intellimacs/hybrid.vim

" -- plugins ------------
" set easymotion
set NERDTree
set ReplaceWithRegister
set argtextobj
set commentary
set exchange
set highlightedyank
set multiple-cursors
set sneak
set surround
set textobj-entire
set textobj-indent
set vim-paragraph-motion

set showmode
set number
set relativenumber
set scrolloff=4
set incsearch
set ideajoin
set ideamarks
set which-key
set notimeout

set clipboard+=ideaput

let g:argtextobj_pairs="[:],(:),<:>"

let g:WhichKey_ShowVimActions = "true"

" use Q for formatting
map Q gq

nmap , <leader>m
vmap , <leader>m

nnoremap Y y$

vmap m :action SelectNextOccurrence<CR>

" nmap ,f <Plug>(easymotion-fn)
" nmap F <Plug>(easymotion-Fn)
" nmap t <Plug>(easymotion-tn)
" nmap T <Plug>(easymotion-Tn)

" nmap <leader>mfp <leader>mri:action BLACKReformatCode<cr>
" nmap <leader>mfj <leader>mri:action ReformatWithPrettierAction<cr>
" nmap <leader>mfo <leader>mri:action OptimizeImports<cr>

nmap gu <leader>mhU
nmap gU <leader>mhu

" Refactor
nmap \r <leader>mrR

nmap <c-h> <c-w>h
nmap <c-j> <c-w>j
nmap <c-k> <c-w>k
nmap <c-l> <c-w>l

unmap <space><space>
nmap <space><space> :action SearchEverywhere<CR>

nmap - :action ShowNavBar<CR>